* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body {
        background-color: lightblue;
        header,
        footer {
            background-color: grey;
        }
        ul {
            padding-left: 30px;
            list-style-type: georgian;
        }
        .add {
            position: fixed;
            top: 10px;
            right: 50px;
        }
    }
}
